header{
    background-color: rgb(39, 39, 39);
    overflow: hidden;
    color: white;
}
h1{
    font-size: 40px;
}
.topnav a{
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}